.btn {
  display: block;

  box-sizing: border-box;

  cursor: pointer;
  transition: 0.2s linear;
  text-align: center;
  text-transform: uppercase;

  color: @black--light;
  border: 2px solid @black--light;
  background-color: transparent;

  font: inherit;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;

  &:hover {
    color: @white;
    background-color: @black--light;
  }

  &:active {
    color: fade(@white, 30%);
  }
}
