.contacts {
  position: relative;
  padding-top: 30px;
  padding-bottom: 40px;
  .container;

  @media @tablet {
    padding-top: 55px;
    padding-bottom: 60px;
    &::after {
      content: "";
      position: absolute;
      width: 47px;
      height: 81px;
      top: 40px;
      right: 50px;
      background: url("../img/icon-flag.svg") 0 0 no-repeat;
    }
  }

  @media @desktop {
    padding-top: 55px;
    padding-bottom: 105px;
    &::after {
      content: "";
      position: absolute;
      width: 47px;
      height: 81px;
      top: 130px;
      left: 65px;
      background: url("../img/icon-flag.svg") 0 0 no-repeat;
    }
  }
}

.contacts__wrap {
  @media @desktop {
    width: 350px;
    margin-left: 175/1050*100%;
  }
}

.contacts__title {
  max-width: 260px;
  margin: 0 0 35px;
  font-size: 18px;
  font-weight: 700;
  color: @black;

  @media @tablet {
    max-width: 668px;
    font-size: 43px;
  }

  @media @desktop {
    max-width: none;
    font-size: 53px;
  }
}

.contacts__list {
  max-width: 260px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  @media @tablet {
    @media (min-width: 768px) {
      max-width: 668px;
    }
  }

  @media @desktop {
    margin-left: 0;
    margin-bottom: 85px;
  }
}

.contacts__term {
  width: 75px;
  margin: 0;
}

.contacts__desc {
  max-width: 184px;
  margin: 0 0 30px;
  @media @tablet {
    max-width: none;
    width: 255px;
  }
}

.contacts__link {
  position: relative;
  color: @black;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 1px;
    background-color: @turquoise-dark;
  }
}

.contacts__map {
  margin: 0 -30px 40px;

  @media @tablet {
    margin: 0 -50px 55px;
  }

  @media @desktop {
    position: absolute;
    margin: 0;
    right: 50px;
    bottom: 105px;
  }
}

.contacts__map-image {
  width: 100%;
  height: auto;
}

.contacts__btn {
  max-width: 230px;
  margin: 0 auto;
  padding: 20px 0;
  @media @desktop {
    margin: 0;
  }
}
