.contacts {
  position: relative;

  padding-top: 40px;
  padding-bottom: 40px;

  .container;

  @media @tablet {
    padding-top: 50px;
    padding-bottom: 50px;

    &::after {
      position: absolute;
      top: 45px;
      right: 53px;

      width: 47px;
      height: 81px;

      content: "";

      background: url("../img/icon-flag.svg") 0 0 no-repeat;
    }
  }

  @media @desktop {
    padding-top: 130px;
    padding-bottom: 105px;

    &::after {
      top: 130px;
      left: 115px;

      background: url("../img/icon-flag.svg") 0 0 no-repeat;
    }
  }
}

.contacts__wrap {
  @media @desktop {
    width: 350px;
    margin-left: 175/1050*100%;
  }
}

.contacts__title {
  max-width: 260px;
  margin: 0 0 30px;

  color: @black;

  font-size: 18px;
  font-weight: 700;

  @media @tablet {
    max-width: 668px;
    margin-bottom: 40px;

    font-size: 43px;
  }

  @media @desktop {
    margin-bottom: 35px;

    font-size: 53px;
  }
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;

  max-width: 260px;
  margin: 0 auto;

  font-size: 15px;
  line-height: 30px;

  @media @tablet {
    max-width: 668px;

    font-size: 17px;
  }

  @media @desktop {
    margin-bottom: 50px;
    margin-left: 0;
  }
}

.contacts__term {
  width: 75px;
  margin: 0;

  line-height: 2;
}

.contacts__desc {
  max-width: 184px;
  margin: 0 0 30px;

  @media @tablet {
    width: 255px;
    max-width: none;
  }
}

.contacts__link {
  position: relative;

  transition: color 0.2s ease, opacity 0.3s linear;

  color: @black;

  &::after {
    position: absolute;
    right: 0;
    bottom: -5px;
    left: 0;

    height: 1px;

    content: "";

    background-color: @turquoise-dark;
  }

  &:hover {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__map {
  margin: 0 -30px 35px;

  text-align: center;

  background: url("../img/map-mobile@1x.jpg") center top no-repeat #dfdfdf;
  height: 457px;

  @media @retina-dpi, @retina-dppx {
    background-image: url("../img/map-mobile@2x.jpg");
    background-size: 320px auto;
  }

  @media @tablet {
    margin: 25px -50px 55px;

    background-image: url("../img/map-tablet@1x.jpg");

    @media @retina-dpi, @retina-dppx {
      background-image: url("../img/map-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }

  @media @desktop {
    position: absolute;
    right: 50px;
    bottom: 105px;

    width: 45%;
    margin: 0;

    background-image: url("../img/map-desktop@1x.jpg");

    @media @retina-dpi, @retina-dppx {
      background-image: url("../img/map-desktop@2x.jpg");
      background-size: 525px auto;
    }
  }
}

.contacts__btn {
  max-width: 260px;
  margin: 0 auto;
  padding: 15px 0;

  @media @tablet {
    max-width: 230px;
  }

  @media @desktop {
    margin: 0;
  }
}
