.copyright {
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.copyright__link {
  display: flex;
  align-items: center;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: @black;
}

.copyright__text {
  margin-right: 30px;
}
