.copyright {
  height: 80px;
  display: flex;
  justify-content: center;
}

.copyright__link {
  display: flex;
  align-items: center;
  font-size: 19px;
  font-weight: 700;
  color: @black;
  transition: 0.2s linear;

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  margin-right: 20px;
}
