.features {
  padding: 30px;
}

.features__title {
  max-width: 260px;
  margin: 0 auto;
  font-size: 25px;
  font-weight: 700;
}

.features__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.features__item {
  position: relative;
  max-width: 260px;
  margin: 0 auto;
  padding-top: 85px;
  font-size: 17px;
  line-height: 1.2em;
  font-weight: 700;

  &::before {
    content: "";
    position: absolute;
    top: 32px;
    left: -10px;
    width: 55px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &--ecology::before {
    background-image: url("../img/icon-feature-flower.svg");
  }

  &--count::before {
    background-image: url("../img/icon-feature-money.svg");
  }

  &--like::before {
    background-image: url("../img/icon-feature-heart.svg");
  }

  &--features::before {
    background-image: url("../img/icon-feature-ball.svg");
  }

  &--support::before {
    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--packing::before {
    background-image: url("../img/icon-feature-gift.svg");
  }
}
