.footer {
  background-color: @white--darken;
}

.footer__wrap {
  margin: 0;
  padding: 0 30px;
  .container;

  @media @tablet {
    height: 142px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__logo {
  display: none;
  justify-content: center;
  align-items: center;
  margin-right: 83px;
  transition: 0.2s linear;

  @media @tablet {
    display: flex;
  }

  &:hover .footer__logo-image {
    fill: #46c1ae;
  }

  &:focus .footer__logo-image {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__logo-image {
  fill: #231f20;
  transition: 0.2s linear;
}
