.footer {
  background-color: @white--darken;
}

.footer__wrap {
  margin: 0;
  padding: 0 30px;

  .container;

  @media @tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 142px;
  }
}

.footer__logo {
  display: none;
  align-items: center;
  justify-content: center;

  margin-right: 83px;

  transition: 0.2s linear;

  @media @tablet {
    display: flex;
  }

  &:hover .footer__logo-image {
    fill: #46c1ae;
  }

  &:focus .footer__logo-image {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__logo-image {
  transition: 0.2s linear;

  fill: #231f20;
}
