.form {
  padding: 22px 0 35px;

  @media @tablet {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  @media @desktop {
    padding-top: 115px;
    padding-bottom: 30px;
  }
}

.form__desc {
  margin: 0;
  padding: 0  30px;

  font-size: 13px;
  line-height: 24px;

  @media @tablet {
    margin-bottom: 0;
    padding: 0 50px;

    font-size: 17px;
    line-height: 30px;
  }

  @media @desktop {
    width: 700px;
    padding: 0;
    margin: 0 auto;
  }
}

.form__block {
  margin: 0;
  padding: 0;
  border: none;

  @media @tablet {
    padding: 50px 0;

    &--type {
      padding-top: 48px;
      padding-bottom: 12px;
    }

    &--color {
      padding-top: 38px;
      padding-bottom: 35px;
    }

    &--user-info {
      padding-top: 32px;
      padding-bottom: 45px;
    }

    &--user-feedback {
      padding-top: 50px;
      padding-bottom: 35px;
    }

    &--gray {
      background-color: @white--darken;
    }
  }
}

.form__block-wrap {
  box-sizing: border-box;
  padding: 0 30px;
  max-width: 1150px;
  margin: 0 auto;

  @media @tablet {
    padding: 0 50px;
    display: flex;
    align-items: baseline;
  }
}

.form__title {
  position: relative;

  display: block;

  box-sizing: border-box;
  width: 100%;
  margin: 20px 0 0;

  text-transform: uppercase;

  color: @turquoise;

  font-size: 17px;
  font-weight: 700;

  &::after {
    position: absolute;
    top: 50%;
    right: 0;
    left: 10px;

    height: 1px;

    content: "";
    transform: translateY(-50%);

    background-color: @turquoise;
  }

  @media @tablet {
    width: 25%;
    margin: 0;

    &::after {
      content: none;
    }
  }

  @media @desktop {
    width: 16.666%;
    padding-left: 6%;
  }
}

.form__title-text {
  position: relative;
  z-index: 2;

  padding-right: 10px;

  background-color: @white;

  @media @tablet {
    background-color: transparent;
  }
}

.form__radio-wrap {
  padding-top: 15px;
  padding-bottom: 10px;
}

.form__radio-input:checked + .form__radio-desc {
  &::after {
    position: absolute;
    top: 16px;
    left: 12px;

    width: 16px;
    height: 16px;

    content: "";

    border-radius: 50%;
    background-color: @turquoise;

    @media @tablet {
      top: 12px;
      left: 16px;

      width: 20px;
      height: 20px;
    }
  }
}

.form__radio-input {
  &:hover + .form__radio-desc {
    &::before {
      border-color: @turquoise;
    }
  }

  &:focus + .form__radio-desc {
    &::before {
      border-color: @turquoise;
    }
  }

  &:active + .form__radio-desc {
    &::before {
      border-color: #c7c7c7;
    }
  }

  &:disabled + .form__radio-desc {
    color: @gray;

    &::before {
      border-color: @gray;
    }

    &::after {
      background-color: @gray;
    }
  }
}


.form__radio-desc {
  position: relative;

  display: block;

  padding: 12px 0 12px 64px;

  color: @black;

  font-size: 17px;
  font-weight: 700;
  line-height: 1.06;

  &::before {
    position: absolute;
    top: 4px;
    left: 0;

    box-sizing: border-box;
    width: 40px;
    height: 40px;

    content: "";

    border: 2px solid @black;
    border-radius: 50%;
    background-color: transparent;
  }

  @media @tablet {
    margin-bottom: 32px;
    padding-left: 80px;

    font-size: 19px;

    &::before {
      top: -4px;
      width: 52px;
      height: 52px;
    }
  }
}

.form__checkbox-wrap {
  display: flex;
  flex-wrap: wrap;

  padding-bottom: 2px;

  @media @tablet {
    width: 70%;
    justify-content: space-between;
  }

  @media @desktop {
    width: 75%;
    justify-content: flex-start;
  }
}


.form__checkbox-input:checked + .form__checkbox-desc {
  &::after {
    position: absolute;
    top: 8px;
    left: 15px;

    box-sizing: border-box;
    width: 12px;
    height: 23px;

    content: "";
    transform: rotate(45deg);

    border-right: 2px solid @black;
    border-bottom: 2px solid @black;

    @media @tablet {
      top: 8px;
      left: 20px;

      width: 15px;
      height: 28px;
    }
  }
}

.form__checkbox-input {
  &:hover + .form__checkbox-desc {
    &::before {
      border-color: @turquoise;
    }
  }

  &:focus + .form__checkbox-desc {
    &::before {
      border-color: @turquoise;
    }
  }

  &:active + .form__checkbox-desc {
    &::before {
      border-color: #c7c7c7;
    }
  }

  &:disabled + .form__checkbox-desc {
    color: @gray;

    &::before {
      border-color: @gray;
    }

    &::after {
      border-color: @gray;
    }
  }
}

.form__checkbox-desc {
  position: relative;

  display: block;

  box-sizing: border-box;
  width: 175px;
  margin-top: 14px;
  margin-right: auto;
  padding: 10px 0 10px 64px;

  color: @black;

  font-size: 17px;
  font-weight: 700;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;

    box-sizing: border-box;
    width: 40px;
    height: 40px;

    content: "";
    transform: translateY(-50%);

    border: 2px solid @black;
    background-color: transparent;
  }

  @media @tablet {
    width: 200px;
    margin-bottom: 12px;
    margin-right: 0;
    padding-left: 80px;

    font-size: 19px;

    &::before {
      width: 52px;
      height: 52px;
    }
  }

  @media @desktop {
    width: 260px;
  }
}

.form__text-container {
  padding-bottom: 5px;

  @media @tablet {
    width: 75%;
  }

  @media @desktop {
    width: 700px;
  }
}

.form__text-wrap {
  margin-top: 20px;

  @media @tablet {
    display: flex;
    align-items: baseline;

    width: 100%;
    max-width: 700px;
  }
}

.form__text-desc {
  position: relative;

  color: @black;

  font-size: 17px;
  font-weight: 700;
  line-height: 1;

  @media @tablet {
    margin-right: 20px;
    font-size: 19px;
  }
}

.form__text-input {
  box-sizing: border-box;
  width: 100%;
  height: 48px;

  transition: border-color 0.2s linear;

  border: none;
  border-bottom: 2px solid @black;
  background-color: transparent;

  font: inherit;
  font-size: 17px;

  &--phone,
  &--email {
    height: 54px;
    margin-bottom: 8px;

    font-size: 19px;
  }

  @media @tablet {
    height: 54px;
    padding-left: 18px;

    font-size: 19px;

    &--phone,
    &--email {
      margin-bottom: 20px;
    }
  }

  &:hover {
    border-color: @turquoise-dark;

    & + .form__input-img {
      fill: @turquoise-dark;
    }
  }

  &:focus {
    border-color: @turquoise-dark;
    outline: none;

    & + .form__input-img {
      fill: @turquoise-dark;
    }
  }
}

.form__input-wrap {
  position: relative;

  @media @tablet {
    width: 75%;
    max-width: 700px;
  }

  @media @tablet {
    width: 75%;
    max-width: 700px;
  }
}

.form__input-img {
  position: absolute;
  top: 10px;
  right: 4px;

  fill: #cccccc;

  @media @tablet {
    right: 22px;
  }

  @media @desktop {
    right: 5px;
  }
}

.form__textarea {
  box-sizing: border-box;
  width: 100%;
  margin-top: 15px;
  padding: 15px 15px;

  resize: none;

  border: 2px solid @black;

  font: inherit;
  font-size: 17px;
  line-height: 18px;

  @media @tablet {
    width: 75%;
    margin-top: 0;
    max-width: 700px;

    font-size: 19px;
  }

  &:hover {
    border-color: @turquoise-dark;
  }

  &:focus {
    border-color: @turquoise-dark;
    outline: none;
  }
}

.form__submit-wrap {
  margin: 0 auto;
  padding: 0 30px;

  @media @tablet {
    display: flex;
    align-items: baseline;
    flex-direction: row-reverse;
    justify-content: space-between;

    padding: 0 50px;
  }

  @media @desktop {
    width: 700px;
    margin: 0 auto;
    padding: 0;
  }
}

.form__submit-info {
  margin: 8px 0 30px;

  font-size: 14px;

  @media @tablet {
    font-size: 17px;
  }
}

.form__submit-btn {
  width: 260px;
  margin: 0 0 15px;
  padding: 15px 0;

  @media @tablet {
    width: 230px;
  }
}
