.form {
  padding-top: 30px;
  padding-bottom: 30px;
  .container;
  @media @tablet {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.form__block {
  margin: 0 0 17px;
  padding: 0;
  border: none;
}

.form__block-wrap {
  @media @tablet {
    display: flex;
  }
}

.form__title {
  width: 100%;

  @media @tablet {
    width: 25%;
    &::after {
      content: none;
    }
  }

  @media @desktop {
    width: 175px;
    padding-left: 75px;
  }
}

.form__title-text {
  display: block;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  font-size: 17px;
  font-weight: 700;
  color: @turquoise;
  padding: 20px 0;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50px;
    right: 0;
    height: 1px;
    background-color: @turquoise;
    transform: translateY(-50%);
  }
  @media @tablet {
    &::after {
      content: none;
    }
  }
}

.form__radio-input:checked + .form__radio-desc {
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 24px;
    width: 16px;
    height: 16px;
    background-color: @turquoise;
    border-radius: 50%;
    transform: translateY(-50%);
  }
}

.form__radio-desc {
  display: block;
  position: relative;
  padding: 20px 0 20px 60px;
  font-size: 17px;
  font-weight: 700;
  color: @black;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid @black;
    border-radius: 50%;
    transform: translateY(-50%);
  }

  @media @tablet {
    font-size: 19px;
  }
}


.form__checkbox-input:checked + .form__checkbox-desc {
  &::after {
    content: "";
    position: absolute;
    top: 25%;
    left: 25px;
    width: 12px;
    height: 23px;
    border-bottom: 2px solid @black;
    border-right: 2px solid @black;
    transform: rotate(45deg);
  }
}

.form__checkbox-wrap {
  display: flex;
  flex-wrap: wrap;
  @media @tablet {
    width: 75%;
  }
}

.form__checkbox-desc {
  box-sizing: border-box;
  display: block;
  width: 100%;
  position: relative;
  padding: 20px 0 20px 60px;
  font-size: 17px;
  font-weight: 700;
  color: @black;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid @black;
    transform: translateY(-50%);
  }

  @media @tablet {
    width: 50%;
  }

  @media @desktop {
    width: 100/3%;
  }

}

.form__text-wrap {
  @media @tablet {
    width: 75%;
  }
}

.form__text-desc {
  position: relative;
  margin-bottom: 17px;
  font-size: 17px;
  font-weight: 700;
  color: @black;
  @media @tablet {
    display: flex;
    align-items: baseline;
  }
}

.form__text-input {
  box-sizing: border-box;
  width: 100%;
  height: 54px;
  margin-bottom: 30px;
  font: inherit;
  border: none;
  border-bottom: 2px solid @black;
  @media @tablet {
    margin-left: 20px;
  }
}

.form__feedback {

}

.form__textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 18px;
  font: inherit;
  border: 2px solid @black;
}

.form__info {
  font-size: 14px;
}

.form__btn {
  width: 260px;
  margin: 0 auto 30px;
  padding: 20px 0;
}
