.main-nav__toggle {
  position: absolute;
  top: 38px;
  right: 31px;
  width: 20px;
  height: 2px;
  background-color: @black;
  cursor: pointer;
  border: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 2px;
    background-color: @black;
  }

  &::before {
    transform: translateY(6px);
  }

  &::after {
    transform: translateY(-6px);
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  border-bottom: 1px solid @gray--light;
}

.main-nav__link {
  display: block;
  padding: 27px 0 27px 74px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: @black;
}

.main-nav__benefits {

}

@media (max-width:767px) {
  .main-nav__benefits {
    display: none;
  }
}

@media (min-width:@tablet-width) {
  .main-nav {
    display: flex;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
  }

}

@media (max-width:@desktop-width) {

  .main-nav__item {

    &--news {
      display: none;
    }
  }
}
