.modal-cart {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;

  display: none;

  box-sizing: border-box;
  width: 320px;
  padding: 30px 30px 45px;

  transform: translate(-50%, -50%);
  animation-name: appearance;
  animation-duration: 0.8s;

  border: 1px solid @gray;
  background-color: @white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);

  &--open {
    display: block;
  }

  @media @tablet {
    width: 570px;
    padding-right: 109px;
    padding-left: 109px;
  }
}

.modal-cart__title {
  margin: 0 auto;
  padding: 0 60px;

  text-align: center;
  text-transform: uppercase;

  font-size: 25px;

  @media @tablet {
    padding: 0;

    font-size: 30px;
  }
}

.modal-cart__text {
  margin: 20px 0;

  text-align: center;

  @media @tablet {
    font-size: 17px;
  }
}
