.search-form {
  position: relative;
  display: block;
}

.search-form__input {
  padding: 26px 0 26px 74px;
  font: inherit;
  font-size: 17px;
  font-weight: 700;
  color: @black;
  border: none;

  &::placeholder {
    color: @black;
  }
}

.search-form__btn {
  position: absolute;
  top: 50%;
  left: 30px;
  width: 20px;
  height: 20px;
  border: none;
  transform: translateY(-50%);
}

@media (min-width: @tablet-width) {
  .search-form {
    box-sizing: border-box;
    width: 85px;
    height: 89px;
    border-right: 1px solid #ececec;
  }

  .search-form__input {
    display: none;
  }

  .search-form__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border: none;
    transform: translate(-50%, -50%);
  }
}
