.search-form {
  padding: 27px 30px 27px 74px;
}

.search-form__input {
  font: inherit;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: @black;
  border: none;

  &::placeholder {
    text-transform: uppercase;
    color: @black;
  }
}
