.social {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid @gray;

  @media @tablet {
    border: none;
  }

  @media @desktop {
  }
}

.social__link {
  display: flex;
  justify-content: center;

  &:not(:last-child) {
    margin-right: 40px;
  }
  &:hover .social__img {
    fill: #46c1ae;//Цвета нет в переменных
  }
  &:focus .social__img {
    fill: #46c1ae;//Цвета нет в переменных
  }

  &:active .social__img {
    color: fade(#46c1ae, 30%);
  }

}

.social__img {
  fill: @black;
  transition: 0.2s linear;
}
