.sub-header {
  background-color: @white--darken;
  display: flex;
  flex-wrap: wrap;

  &--main {
    background-color: @white--dark;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
  }
}

.sub-header__slogan {
  margin: 0 auto;
  text-align: center;
  width: 300px;
  padding-top: 74px;
  padding-bottom: 156px;
  font-size: 27px;
  line-height: 30px;
  color: @black;
}

.sub-header__title {
  margin: 75px auto;
  font-size: 27px;
  line-height: 30px;
  color: @black;
}

.sub-header__link {
  position: relative;
  padding-top: 30px;
  padding-bottom: 33px;
  padding-left: 28px;
  width: 100%;

  &--interior {
    background-color: @turquoise;
  }

  &--interior::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 62px;
    top: 22px;
    right: 30px;
    background-image: url("../img/icon-interior.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.2;
  }

  &--toys {
    background-color: @turquoise--light;
  }

  &--toys::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: 20px;
    right: 27px;
    background-image: url("../img/icon-toy.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.2;
  }
}

.sub-header__text {
  display: block;
  width: 105px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: @white;
}
