.week-goods {
  position: relative;
  padding-top: 30px;
  padding-bottom: 45px;
  .container;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: auto 6px;
    background-position-x: 0;
    background-repeat: repeat-x;
  }

  @media @tablet {
    &::after {
      height: 17px;
      background-size: auto 17px;
    }
  }

  @media @desktop {
    padding-top: 130px;
    padding-bottom: 100px;

    &::after {
      left: 50px;
      right: 50px;
      height: 23px;
      background-size: auto 23px;
    }
  }
}

.week-goods__header {
  margin: 0 auto 30px;

  @media @tablet {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
  }

  @media @desktop {
    margin-bottom: 60px;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}

.week-goods__title {
  margin: 0;
  font-size: 25px;
  font-weight: 700;

  @media @tablet {
    font-size: 43px;
  }

  @media @desktop {
    font-size: 53px;
  }
}

.week-goods__subtitle {
  margin: 0;
  font-size: 17px;
  line-height: 1;
  text-transform: uppercase;
  color: @turquoise;

  @media @tablet {
    font-size: 17px;
    width: 80px;
    margin-right: 25px;
    text-align: center;
  }

  @media @desktop {
    margin: 0 50px;
  }
}

.week-goods__content-wrap {
  margin: 0 auto;

  @media @tablet {
    max-width: 290px;
    margin-left: 0;
  }

  @media @desktop {
    margin-left: 16.666%;
  }
}

.week-goods__text {
  @media @desktop {
    margin-bottom: 70px;
  }
}

.week-goods__table {
  max-width: 290px;
  margin: 0 auto 30px;
  font-size: 15px;
  border-collapse: collapse;
  border-spacing: 0;

  @media @tablet {
    max-width: none;
    width: 100%;
    margin: 0 0 54px;
  }

  @media @desktop {
    margin-bottom: 105px;
  }
}

.week-goods__line {
  display: block;
  border-bottom: 1px solid @gray--light;
}

.week-goods__property {
  padding: 0;
  font-weight: 400;
  text-align: left;
  width: 100px;
}

.week-goods__desc {
  padding: 0;
}

.week-goods__img {
  display: block;
  margin: 0 auto 30px;

  @media @tablet {
    position: absolute;
    margin: 0;
    right: 50px;
    bottom: 45px;
    z-index: -1;
  }

  @media @desktop {
    position: absolute;
    margin: 0;
    right: 50px;
    bottom: 100px;
    z-index: -1;
  }
}

.week-goods__count {
  text-align: center;
  font-size: 17px;
  font-weight: 700;

  @media @tablet {
    margin-bottom: 35px;
    font-size: 20px;
  }

  @media @desktop {
    margin-bottom: 35px;
    font-size: 20px;
  }
}

.week-goods__btn {
  max-width: 290px;
  margin: 0 auto;
  padding: 20px 0;
}
